.cardItem {
    cursor: pointer;
    border: none !important;
    transition-duration: 1s;
    .card-text {
        color: white;
        padding: 5px;
        font-size: 24px;
        background-color: #112b3e;
        text-align: center;
        display: flex;
        flex-direction: column;
        min-height: 155px;
    }
    .card-link {
        color: white;
        font-size: 10px;
        background-color: #112b3e;
        padding: 10px;
        text-decoration: none;
    }
    &:hover {
        transition-duration: 1s;
        transform: scale(1.065);
    }
}
